# Файл: .gitignore

setIP.bat

# Виртуальное окружение
venv/
.venv/

# Байт-код Python
__pycache__/
*.py[cod]
*$py.class

# Файлы IDE
.idea/
.vscode/
*.swp

# Файлы зависимостей и сборки
*.egg-info/
dist/
build/
wheels/
*.egg
MANIFEST

# Файлы операционной системы
.DS_Store
Thumbs.db

# Локальные настройки и секреты
.env # <-- ОЧЕНЬ ВАЖНО! Никогда не добавляй .env в Git!
*.db # Если будешь использовать sqlite для тестов

# Данные Docker (если volume мапится локально, но лучше использовать named volumes)
# postgres_data/ # Пример, если бы volume был локальной папкой

# Папка Alembic (обычно не нужно игнорировать, но если есть сгенерированные файлы)
# alembic/versions/*.py # Если не хочешь хранить конкретные миграции (не рекомендуется)

# Логи и временные файлы
*.log
*.tmp
*.bak